click==8.3.0
colorama==0.4.6
greenlet==3.2.4
markdown-it-py==4.0.0
mdurl==0.1.2
pillow==10.4.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyperclip==1.11.0
PyRect==0.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.1.0
shellingham==1.5.4
six==1.17.0
SQLAlchemy==2.0.43
ttkbootstrap==1.14.2
typer==0.19.2
typing_extensions==4.15.0
tzdata==2025.2
win32_setctime==1.2.0
